body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  border-top: 1px solid #e2e8f0;
}